.navbar{
    background: #FFFFFF;
    opacity: .8;
    min-height: 20px;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.darkBG{
	background: #999;
}

.darkerBG{
	background: #666;
}

.darkestBG{
	background: #333;
}

body {
  font-family: 'Lato', georgia;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(236, 181, 62, 0.95);
  text-align: center;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.contact-page-body{
  font-family: 'Lato', georgia;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  background-image: url(https://hd.unsplash.com/photo-1465788786008-f75a725b34e9);
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

#articleContent{
	font-family: monospace, monospace;
	height:100%;
	overflow-y:auto;
	text-align:left;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
.ccheader {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.ccheader h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	line-height: 1.3;
}
.ccheader {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.ccheader h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	line-height: 1.3;
}

/* Form CSS*/
.ccform {
   margin: 0 auto;
    width: 800px;
}
.ccfield-prepend{
	margin-bottom:10px;
	width:100%;
}

.ccform-addon{
	color:#ff4c4c; 
	float:left;
	padding:8px;
	width:15%;
	background:#FFFFFF;
	text-align:center;	
}

.ccformfield {
	color:#000000; 
	background:#FFFFFF;
	border:none;
	padding:15.5px;
	width:91.9%;
	display:block;
	font-family: 'Lato',Arial,sans-serif;
	font-size:14px;
}

.ccformfield {
	font-family: 'Lato',Arial,sans-serif;
}
.ccbtn{
	display:block;
	border:none;
	background:#ff4c4c;
	color:#FFFFFF;
	padding:12px 25px;
	cursor:pointer;
	text-decoration:none;
	font-weight:bold;
}
.ccbtn:hover{
	background:#d8850e;

}
.credit {
  width: 800px;
  clear:both;
margin:0 auto;
  line-height:25px;
 padding: 25px 50px; 
text-align: center;
}
.credit em{
margin-right:5px;
}
.credit a {
color: #000;
font-weight: bold;
text-decoration: none;
}

.upload-button{
	padding-top: 7px;
	background-color: #89FF45;
	font-size: 22px;
	color: black;
 	
}

.upload-button-2{
	padding-top: 7px;
	background-color: #89FF45;
	font-size: 15px;
	color: black;
 	
}

.upload-button-3{
	padding-top: 7px;
	background-color: red;
	font-size: 15px;
	color: white;
 	
}


/*!
 * Start Bootstrap - 3 Col Portfolio (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.your-clock{
	transform: scale(0.7)
}

.navbar-brand{
	font-size: 28px;
}
