{% extends "outer.html" %}

{% block title %}{{banner}} - Main{% endblock %}

{% block mainframe %}

<div class="container">
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-6">
                <center><img width="70%" height="100%" src="https://lh3.googleusercontent.com/-UwCHHZUCmes/WAwiA94FiDI/AAAAAAAAAPA/kbQX5SC1NskjhuwL4D6PwFxERhgBpOZ3gCL0B/h722/2016-10-22.jpg" frameborder="0" ></img></center>
            </div>

            <div align="left" class="col-md-6">
                <h1>Welcome to MizzyChan</h1>
                <p>MizzyChan is a News website that allows you to upload News articles for each topic or will generate an article for your viewing pleasure every 15 minutes.</p>
                <h3>Rules</h3>
                <h4>
                    <li>Shitposting is allowed on each topic but dont be a shithead.</li>
                    <li>Remember to have fun and express yourself</li>
                    <li>Please do not get triggered and spam useless irrelevant content.</li>
                    <li>Save your nudes for another site we dont want them here. We will nuke your ass</li>
                </h4>
            </div>

        </div>
        <!-- /.row -->

        <br>
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="categories/US_News">
                    <img class="img-responsive" src="http://i.imgur.com/17XY8EI.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="categories/World_News">
                    <img class="img-responsive" src="http://i.imgur.com/kjZ0YDH.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="categories/Politics">
                    <img class="img-responsive" src="http://i.imgur.com/jhyTSI7.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="categories/Sports">
                    <img class="img-responsive" src="http://i.imgur.com/OxCPEz6.jpg" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="categories/Technology">
                    <img class="img-responsive" src="http://i.imgur.com/W6CDoot.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="categories/Entertainment">
                    <img class="img-responsive" src="http://i.imgur.com/KyAlpUI.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="categories/Business">
                    <img class="img-responsive" src="http://i.imgur.com/zX8UwOf.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="categories/Memes">
                    <center><img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/e/e2/KnowYourMeme.png" alt="" width="180"></center>
                </a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
			
{% endblock %}
