{% extends "outer.html" %}

{% block title %}{{banner}} - Info{% endblock %}

{% block mainframe %}

    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>HackRU 2016 Proect MizzyChan</p>
                <div align="left">
                    <p>The Main Idea for this Project was to Combind 4chan and Reddit and Twitch all into one Social Platform kind of. We all had very minimal Experience with Javascript/Python3/Bootstrap so this Hack was a very rewarding experience because, it was a very good learning experience!</p>
                </div>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-3 col-sm-3 text-center">
                <img class="img-circle img-responsive img-center" src="http://i.imgur.com/vuRo1ps.gif" alt="">
                <h3>Chris Czechowicz
                    <small>Main Programmer</small>
                </h3>
                <p>Mastermind</p>
            </div>
            <div class="col-lg-3 col-sm-3 text-center">
                <center><img class="img-circle img-responsive img-center" src="https://lh3.googleusercontent.com/-imVfNCRkaOs/V_BnMs5Z_8I/AAAAAAAAAOU/qf5yCwM8LaoqUIQYZB3BW5dMfUtBitaQACL0B/h358/2016-10-01.jpg" width="200" height="35"  alt=""></center>
                <h3>Brian Goodwin
                    <small>4chan master + Beard Guy </small>
                </h3>
                <p>Likes whiskey</p>
            </div>
            <div class="col-lg-3 col-sm-3 text-center">
                <center><img class="img-circle img-responsive img-center" src="https://lh3.googleusercontent.com/-zFgLYOl6UII/V_Bjo3VFIuI/AAAAAAAADCs/13w5ZBApfpwcP219-inu7UOhFHFnD-HNACL0B/h200/rainbow_glasses_by_j_brony-d4cw4ao-1.png" alt=""></center>
                <h3>Paul Jewell AKA. PJ
                    <small>The Actually Main Programmer</small>
                </h3>
                <p>PAU aka The God in the Internet</p>
            </div>
            <div class="col-lg-3 col-sm-3 text-center">
                <img class="img-circle img-responsive img-center" src="https://lh3.googleusercontent.com/-MFbZ9NnBSfE/V-yCF3d2eKI/AAAAAAAAC-Y/NXD1E7Sq6FwvIC3Smj6ZSgq6Te_7s0vhwCL0B/h360/hqdefault.jpg" alt="">
                <h3>Demetris Twin
                    <small>Android + Cloud Master</small>
                </h3>
                <p>God in the clouds</p>
            </div>
        </div>

        <hr>

{% endblock %}