<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>

	<!-- Latest compiled and minified CSS -->
  <link rel="shortcut icon" href="https://lh3.googleusercontent.com/-UwCHHZUCmes/WAwiA94FiDI/AAAAAAAAAPA/kbQX5SC1NskjhuwL4D6PwFxERhgBpOZ3gCL0B/h722/2016-10-22.jpg" />  


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/flipclock.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>
		<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <li> <a href="{{ url_for('index') }}" class="navbar-brand">MizzyChan</a></li>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('index') }}" class="page-scroll">Home</a></li>
            <li><a href="{{ url_for('info') }}" class="page-scroll">Info</a></li>
            <li><a href="{{ url_for('contact') }}" class="page-scroll">Contact</a></li>
            <li><button type="button" class="btn upload-button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Upload</button></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



<font color = "black">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="exampleModalLabel">Please fill form to upload</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="title-upload" class="form-control-label" id="titleupload">Title:</label>
              <input type="text" class="form-control" id="title-upload">
            </div>
            <div class="form-group" id="urlupload">
              <label for="url-upload" class="form-control-label">URL:</label>
              <input type="text" class="form-control" id="url-upload">
            </div>
            

            <select class="combobox" id='categoriesupload'>
              <option></option>
                <option value="US_News">US News</option>
                <option value="World_News">Worlds News</option>
                <option value="Politics">Politics</option>
                <option value="Sports">Sports</option>
                <option value="Technology">Technology</option>
                <option value="Entertainment">Entertainment</option>
                <option value="Business">Business</option>
                <option value="Memes">Memes</option>
            </select>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn upload-button-2" id="uploadbutton">Upload</button>
          <button type="button" class="btn upload-button-3" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    		

			{% block mainframe %}{% endblock %}		
			
			
			{% include "footer.html" %}
			

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="{{ url_for('static', filename='js/flipclock.min.js') }}"></script>

  <script src="{{url_for('static', filename='js/functions.js')}}"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename='js/upload.js') }}"></script>

  {% block js %}{% endblock %}

	</body>
</html>
