{% extends "outer.html" %}

{% block title %}{{banner}} - Test{% endblock %}

{% block mainframe %}

    <!-- Page Content -->
    <div class="container">

        <h3> {{project}} </h3>


        <div id="awesomediv"></div>

        <button id="testbtn">Test</button>

        <div class="row">
            <form id="uploadFileForm" method="post" enctype="multipart/form-data" action="/uploadImage">
                <input type="hidden" id="projectName" name="projectName" value="{{project}}">
                <input type="file" id="uploadFile" name="uploadFile" class="form-control">
            </form>
            <button type="button" id="uploadFileBtn" class="form-control">UPLOAD XCF</button>
        </div>

        <div class="row">

            <img  style="display:none;" src="{{project}}/getLiveImage">


            <!--<div id="chatbox" style="color:black; background-color: #57D409; border: #7ED81B  outset 3px;">-->
                <!--<textarea disabled class="textoutput" style=" border: #9EFF01  outset 3px; background-color: rgba(255, 255, 255, 0.68);height:400px;width:400px;"></textarea>-->
                <!--&lt;!&ndash;<div id="users">&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li style="list-style:square outside none;">admin</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;</div><br>&ndash;&gt;-->
                <!--<textarea id="chatmsginput" class="chatmsginput" style="display:none;width: 300px;height: 80px;"></textarea>-->
                <!--<button id="chatsendbtn" class='chatsendbtn' style="display:none;margin-left: 150px;float: right;  margin-right: 125px; font-size: 20px; margin-top: 25px;">Send</button>-->

            <!--</div>-->

        <canvas id = "canvas" ></canvas>



        </div>
        <div class="row" id="history">
            <h4>Project History</h4>

        </div>
        <!-- /.row -->



{% endblock %}

{% block js %}
    <script>
    var project = "{{ project }}";
    var user = "{{user}}";
    </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
<script src="{{url_for('static', filename='js/project.js')}}"></script>

{% endblock %}

