{% extends "outerv2.html" %}

{% block title %}{% endblock %}

{% block mainframe %}
<body id="page-top" class="index">

<hr class="">
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
             <h1 class="">{{user}}</h1>
         
        
<br>
        </div>
      <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="{{ url_for('static', filename='img/gimphub2.png') }}"></a>

        </div>
    </div>
  <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                <li class="list-group-item text-muted"><span class="pull-left"><strong class="">Joined</strong></span> {{dateCreated}}</li>


            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i>

                </div>
                <div class="panel-body"><a href="Gimphub.org/login/{{user}}" class="">{{user}}.com</a>

                </div>
            </div>

          
            
        </div>
        <!--/col-3-->
        <div class="col-sm-9" style="" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading">{{user}}'s Projects</div>
                <!-- Contact Section -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div name="sentMessage" id="repoForm" novalidate>
                                    <div class="row">
                                    <br>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="New Project" id="projectName" name ="projectName" required>
                                                <p class="help-block text-danger"></p>
                                            </div>

                                        </div>
                                        <div class="col-md-1 text-center">
                                            <div id="success"></div>
                                            <button type="submit" id="repoSubmit" class="btn btn-md">Create Project</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
                        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <!-- enter the bullshit here -->
                </div>
            </div>
        </div>

    </div>
                        



    
                     
            </div>
                 
        </div>
              
    </div>       
	
	<script src="/plugins/bootstrap-pager.js"></script>
</div>

{% endblock %}

<!-- Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/userlook.js') }}"></script>

    {% block js %}


<script type="text/javascript">

$('#repoSubmit').click(function(){

    dictionary={}
    dictionary['repoName']=$('#projectName').val()
    console.log(dictionary['repoName']);
    
    sendJS(dictionary,'newProject',function(){
        //alert('Upload Succuess')
        //$('.upload-button-3').eq(0).click();
        
        
    })

})

</script>
{% endblock %}

    </body>
</html>